# Distributed Switch Architecture [DSA] device configuration options

# Copyright (c) 2020 DENX Software Engineering GmbH
#               Lukasz Majewski <lukma@denx.de>
# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

menuconfig DSA_DRIVERS
	bool "Distributed Switch Architecture device drivers"
	default y if NET_DSA
	help
	  Enable Distributed Switch Architecture support.

if DSA_DRIVERS

config DSA_PROMISC_ON_CONDUIT
	bool "Run DSA conduit in promiscuous mode"
	select NET_PROMISCUOUS_MODE
	help
	  Some conduits leverage ingress filters to discard packets whose DMAC field does not match
	  that programmed into the conduit's MAC before said packets are ever made available to the
	  software. Such conduits typically need to run in promiscuous mode to ensure packets
	  received on DSA ports being processed.

DSA_PORT_COMPAT := zephyr,dsa-port
rsource "Kconfig.netc"

endif # DSA_DRIVERS
